*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}
body{
    /* background-image: url(./image/pexels-ricky-esquivel-1907784.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.60)), url(./image/pexels-ricky-esquivel-1907784.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 5rem;
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
}
nav li{
    margin-left: 3rem;
}
.herowrap{
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 3rem;
    margin: auto;
    margin-top: 5rem;
    background: rgb(174, 165, 152, .09);
    width: 70%;
}
.herowrap h1{
    /* border: 2px solid red; */
    width: fit-content;
    margin: auto;
    font-size: 40px;
}
.herowrap p{
    /* border: 2px solid red; */
    width: fit-content;
    margin-top: 3rem;
    font-size: 19px;
    margin: auto;
    font-style: italic;
    text-align: center;
}
